<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>House Remodeling Supply Tracker</title>
</head>
<body>
    {% extends 'layout.html' %}

    {% block content %}
        <h1>Remodeling Rooms</h1>

        <table>
            <thead>
                <tr>
                    <th>Room Name</th>
                    <th>Remodeling Costs (in $)</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room['name'] }}</td>
                        <td>{{ room['cost'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
</body>
</html>