<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Add Room</title>
</head>
<body>
{% extends "layout.html" %}

{% block content %}
    <form action="/add_room" method="post">
        <h2>Add a New Room</h2>
        <label for="name">Room Name</label>
        <input id="name" name="name" type="text" value="{{ session.name }}" placeholder="eg. Jarrett's Room">

        <label for="surface_area">Floor Surface Area (sq. ft.)</label>
        <input id="surface_area" name="surface_area" type="text" value="{{ session.surface_area }}">

        <label for="flooring_type">Type of Flooring</label>
        <select id="flooring_type" name="flooring_type">
            {% for name, value in flooring_types %}
                <option value="{{ name }}">{{ name.capitalize() }} - ${{ value.value }}/sqft</option>
            {% endfor %}
        </select>

        {% if tiling %}
            <label for="tiling">Flooring Tile</label>
            <select id="tiling" name="tiling">
                {% for name, value in flooring_tiles %}
                    <option value="{{ name }}">{{ name.capitalize() }} - ${{ value.value }}/sqft</option>
                {% endfor %}
            </select>

            <label for="tiling_area">Area of Tiling (sq. ft)</label>
            <input type="text" name="tiling_area" id="tiling_area">
        {% endif %}

        {% if not tiling %}
            <input type="submit" value="+ Add Tiling" name="submit">
            <input type="submit" value="Add Room (w/o tiling)" name="submit">
        {% else %}
            <input type="submit" value="Add Room" name="submit">
        {% endif %}
    </form>
{% endblock %}
</body>
</html>

