<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% extends "layout.html" %}

{% block content %}
    <h2>Edit an Existing Room</h2>
    <form action="/edit_room" method="post">
        <label for="name">Room Name</label>
        <input id="name" name="name" type="text" value="{{ room.name }}" placeholder="eg. Jarrett's Room">

        <label for="surface_area">Floor Surface Area (sq. ft.)</label>
        <input id="surface_area" name="surface_area" type="text" value="{{ room.Surface_Area }}">

        <label for="flooring_type">Type of Flooring</label>
        <select id="flooring_type" name="flooring_type">
            {% for name, value in flooring_types %}
                {% if name == room.Flooring_type %}
                	<option value="{{ name }}" selected>{{ name.capitalize() }} - ${{ value.value }}/sqft</option>
                {% endif %}
                <option value="{{ name }}">{{ name.capitalize() }} - ${{ value.value }}/sqft</option>
            {% endfor %}
        </select>

        {% if room.tiling %}
            <label for="tiling">Flooring Tile</label>
            <select id="tiling" name="tiling">
                {% for name, value in flooring_tiles %}
                    {% if name == room.tiling %}
                    	<option value="{{ name }}" selected>{{ name.capitalize() }} - ${{ value.value }}/sqft</option>
                    {% endif %}
                    <option value="{{ name }}">{{ name.capitalize() }} - ${{ value.value }}/sqft</option>
                {% endfor %}
            </select>

            <label for="tiling_area">Area of Tiling (sq. ft)</label>
            <input type="text" name="tiling_area" id="tiling_area" value="{{ room.tiling_area }}">
        {% endif %}

        {% if not room.tiling %}
            <input type="submit" value="+ Add Tiling" name="submit">
        {% endif %}
        <input type="submit" value="Edit Room" name="submit">
    </form>
{% endblock %}
</body>
</html>
