<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>


</head>
<body>
{% extends 'layout.html' %}

{% block content %}
    <h1>Remodeling Rooms</h1>

    <table>
        <thead>
        <tr>
            <th>Room Name</th>
            <th>Remodeling Costs (in $)</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room['name'] }}</td>
                <td>{{ room['cost'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Overall costs by room name</h2>
{% endblock %}
<div>
    <img src="{{ plot_url }}" alt="" class="graph">
</div>
</body>
</html>
