<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>


</head>
<body>
{% extends 'layout.html' %}

{% block content %}
    <h1>Remodeling Rooms</h1>

    <table>
        <thead>
        <tr>
            <th>Room Name</th>
            <th>Remodeling Costs</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td>${{ room.calc_cost()['total_remodel_cost'] }}</td>
                <td>
                    <form method="get">
                        <input type="hidden" name="name" id="name" value="{{ room.name }}">
                        <input type="submit" formaction="/edit_room" value="Edit">
                        <input type="submit" formaction="/room_details" value="View Details">
                        <input type="submit" formaction="/add_supplies" value="+ Add Supplies">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Overall costs by room name</h2>
    <div>
        <img src="{{ plot_url }}" alt="" class="graph">
    </div>
{% endblock %}
</body>
</html>
