<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>House Remodel System</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/index" methods="post">Home</a></li>
                <li><a href="/add_room" methods="post">Add Room</a></li>
                <li><a href="/edit_room" methods="post">Edit Room</a></li>
                <li><a href="/add_supplies" methods="post">Add Supplies</a></li>
                <li><a href="/supplies_details" methods="post">Supplies Details</a></li>

            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
    
    </footer>
</body>
</html>