<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'layout.html' %}

    {% block content %}
    <form action="/room_details">
        <label for="name">Have another room to lookup? Enter the room name you'd like to display: </label>
        <input type="text" id="name" name="name" required placeholder="eg. Jarrett's Room"/>
    </form>

    <h2>Room Details</h2>
    <ul>
        <li>Room Name: {{ room.name }}</li>
        <li>Surface Area: {{ room.Surface_Area }}</li>
        <li>Floor Type: {{ room.Flooring_type }}</li>
        <li>Tiling (if applicable): {{ room.tiling }}</li>
    </ul>
    {% endblock %}
</body>
</html>
