<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% extends "layout.html" %}
    <form action="/supplies_details" method="post">
        <label for="name">Filter by Name</label>
        <input type="text" name="name" id="name">
        <input type="submit" value="Filter">
    </form>

    <table>
        <thead>
            <tr>
                <th>Supply Name</th>
                <th>Quantity</th>
                <th>Cost per Item (in $)</th>
            </tr>
        </thead>
        <tbody>
            {% for supply in supplies %}
            	<td>{{ supply['name'] }}</td>
                <td>{{ supply['quantity'] }}</td>
                <td>{{ supply['cost'] }}</td>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>